<section id="skills" class="h-auto w-full py-6">
  <h2 class="text-2xl md:text-3xl font-bold text-center py-4">
    The Skills & Technologies are here..
  </h2>

  <p class="text-sm text-center py-5">
    These are a few areas of expertise I can leverage in the field of
    development
  </p>

  <div id="skill-box" class="w-[95%] mx-auto flex flex-col gap-6 md:flex-row md:gap-x-4">
    <!-- Frontend Skills -->
    <div
      id="frontend-skills"
      class="w-full md:w-1/3 border rounded-xl px-4 py-4"
    >
      <h3 class="text-lg md:text-xl font-semibold text-center py-3">
        Frontend Development
      </h3>
      <ul class="flex flex-wrap gap-3 md:gap-4 justify-center md:justify-start">
        <% skills.forEach(skill => { %>
        <li class="text-xs md:text-sm px-3 py-2 inline-block rounded-md border">
          <img
            src="<%= skill.frontendSkillIcon %>"
            alt="<%= skill.frontendSkillName %> icon"
            class="inline-block mr-2 w-4 h-4"
          />
          <%= skill.frontendSkillName %>
        </li>
        <% }); %>
      </ul>
    </div>

    <!-- Backend Skills -->
    <div
      id="backend-skills"
      class="w-full md:w-1/3 border rounded-md px-4 py-4"
    >
      <h3 class="text-lg md:text-xl font-semibold text-center py-3">
        Backend Development
      </h3>
      <ul class="flex flex-wrap gap-3 md:gap-4 justify-center md:justify-start">
        <% backend.forEach(skill => { %>
        <li class="text-xs md:text-sm border px-3 py-2 inline-block rounded-md">
          <div class="flex items-center gap-2">
            <img src="<%= skill.backendSkillIcon %>" alt="<%= skill.backendSkillIcon %>" class="w-4 h-4"/>
            <span><%= skill.backendSkillName %></span>
          </div>
        </li>
        <% }) %>
      </ul>
    </div>

    <!-- Tools -->
    <div id="tools" class="w-full md:w-1/3 border rounded-md px-4 py-4">
      <h3 class="text-lg md:text-xl font-semibold text-center py-3">Tools</h3>
      <ul class="flex flex-wrap gap-3 md:gap-4 justify-center md:justify-start">
        <% tool.forEach(skill => { %>
        <li class="text-xs md:text-sm border px-3 py-2 inline-block rounded-md">
          <div class="flex items-center gap-2">
            <img src="<%= skill.toolIcon %>" alt="<%= skill.toolIcon %>" class="w-4 h-4"/>
            <span><%= skill.toolName %></span>
          </div>
        </li>
        <% }) %>
      </ul>
    </div>
  </div>
</section>
